.text-area {
    text-area-background: grey ;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.red-background { background-image: none; background-color: red; }
.yellow-background { background-image: none; background-color:
rgb(255, 255, 0); }

GtkLabel {
    color: green;
}
